#about{
  text-align: center;
  font-size: 11px;
  margin-top:2px;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-right: 5px;
  padding-left: 7px;
}

a {
    text-decoration: none !important;
}


#info{
  font-size:20px; 
}

html {
  color: #000;
  background: #FFF;
  background-color: #EEEFF4;
  font-size: 12px;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}

input,button,textarea,select,optgroup,option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input,button,textarea,select {
  font-size: 100%;
}

body {
  border: 0 none;
  font-family: Arial;
}

#wrapper {
  margin-top:5px;
  margin-left: 10px ;
  margin-right: 0px ;
}

a:link,a:visited {
  color: #3B5998;
  text-decration: none;
}

a:hover,a:active,.underline:link,.underline:visited {
  text-decoration: underline;
}

#header {
  margin: 0 0 8px;
}

#searchBox {
  width: 340px;
  height: 30px;
  font-size: 20px;
  margin-right: 5px;
  margin-left:10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #999;
  padding: 0 5px 0 4px;
}

#searchBox:focus {
  border: 2px solid #000;
}